<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CategoryMapper">
    <select id="findCategoryList" resultMap="categoryNodeMap">
            SELECT
                one.id as one_id,one.name as one_name,
                two.id as two_id,two.name as two_name,
                three.id as three_id ,three.name as three_name
            from category one
            LEFT JOIN category two  ON one.id = two.parentId
            left join category three on two.id = three.parentId
            WHERE
                one.parentId = '0'
            ORDER BY one.orderby,two.orderby,three.orderby
    </select>


    <resultMap id="categoryNodeMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
        <id column="one_id" property="id" javaType="String"></id>
        <result column="one_name" property="name" javaType="String"></result>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id column="two_id" property="id" javaType="String"></id>
            <result column="two_name" property="name" javaType="String"></result>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
                <id column="three_id" property="id" javaType="String"></id>
                <result column="three_name" property="name" javaType="String"></result>
            </collection>
        </collection>
    </resultMap>


    
</mapper>

