<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachplanMapper">
    <select id="findTeachplanList" parameterType="java.lang.String"
            resultMap="teachplanNodeMap">
                SELECT
        one.id as one_id,
        one.pname as one_pname,
        one.grade as one_grade,
        two.id as two_id,
        two.pname as two_pname,
        two.grade as two_grage,
        three.id as three_id,
        three.pname as three_pname,
        three.grade as three_grade
        FROM
        teachplan one,
        teachplan two,
        teachplan three
        WHERE
        one.id = '1'
        and one.id = two.parentid
        and two.id = three.parentid
    </select>


    <resultMap id="teachplanNodeMap" type="com.xuecheng.framework.domain.course.ext.TeachplanNode">
        <id column="one_id" property="id" javaType="String"></id>
        <result column="one_pname" property="pname" javaType="String"></result>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
            <id column="two_id" property="id" javaType="String"></id>
            <result column="two_pname" property="pname" javaType="String"></result>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
                <id column="two_id" property="id" javaType="String"></id>
                <result column="two_pname" property="pname" javaType="String"></result>
            </collection>
        </collection>
    </resultMap>

    
    
</mapper>

